<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="style.css" >
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<body>
    <div id="app">
        <h1 id="head"></h1>
        <el-table style="width: 90%;margin:auto" :data="dataList" style="width: 100%" :fit="true"
            :highlight-current-row="true" :border="true" :row-class-name="tableRowClassName"
            :cell-class-name="cellName">
            <el-table-column prop="fileName" label="文件名" width="250" label-class-name="title1">
                <template slot="header" slot-scope="scope">
                    <div> 文件名</div>
                    <el-dropdown placement="top-end" trigger="click" :hide-on-click="false">
                        <span class="el-dropdown-link">
                            <i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-checkbox-group v-model="nameCheck" @change="nameFilter">
                                <el-dropdown-item v-for="item in nameSelect" :key="item">
                                    <el-checkbox :label="item"></el-checkbox>
                                </el-dropdown-item>
                            </el-checkbox-group>
                            <el-dropdown-item>
                                <el-button style="margin-left:20%;" @click="selectReset(1)">重置</el-button>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
                <template slot-scope="scope">
                    <div>
                        <div class="size">{{scope.row.fileName}}
                            <i :class="scope.row.class" v-if="scope.row.expand[0]"
                                @click="expandFileClick(scope.$index, scope.row)"></i></div>
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="col" label="行" :sortable="false" width="200" label-class-name="title1">
                <template slot="header" slot-scope="scope">
                    <div> 行</div>
                    <div style="width: 40px;height: 35px;">
                        <i style="float:left;height: 10px;" class="el-icon-caret-top" v-bind:style="{ color: topColor}"
                            @click="sort"></i>
                        <i style="float:left;height: 10px;" class="el-icon-caret-bottom"
                            v-bind:style="{ color: bottomColor}" @click="sort"></i>
                    </div>
                    <el-dropdown placement="top-end" trigger="click" :hide-on-click="false">
                        <span class="el-dropdown-link">
                            <i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-checkbox-group v-model="colCheck" @change="colFilter">
                                <el-dropdown-item v-for="item in colSelect" :key="item">
                                    <el-checkbox :label="item"></el-checkbox>
                                </el-dropdown-item>
                            </el-checkbox-group>
                            <el-dropdown-item>
                                <el-button @click="selectReset(2)">重置</el-button>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
                <template slot-scope="scope">
                    <div>
                        <div class="size" v-bind:style="{ height: scope.row.parameter.autoHeight}">{{scope.row.col}}
                        </div>
                        <div class="size" v-for="item in scope.row.expand" v-if="!scope.row.firstExpand"
                            v-bind:style="{ height: item.parameter.autoHeight}">{{item.col}}</div>
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="row" label="列" width="150" label-class-name="title1">
                <template slot="header" slot-scope="scope">
                    <div> 列</div>
                    <el-dropdown placement="top-end" trigger="click" :hide-on-click="false">
                        <span class="el-dropdown-link">
                            <i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-checkbox-group v-model="rowCheck" @change="rowFilter">
                                <el-dropdown-item v-for="item in rowSelect" :key="item">
                                    <el-checkbox :label="item"></el-checkbox>
                                </el-dropdown-item>
                            </el-checkbox-group>
                            <el-dropdown-item>
                                <el-button @click="selectReset(3)">重置</el-button>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
                <template slot-scope="scope">
                    <div>
                        <div class="size" v-bind:style="{ height: scope.row.parameter.autoHeight}">{{scope.row.row}}
                        </div>
                        <div class="size" v-for="item in scope.row.expand" v-if="!scope.row.firstExpand"
                            v-bind:style="{ height: item.parameter.autoHeight}">{{item.row}}</div>
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="mistake" label="错误" width="150" label-class-name="title1">
                <template slot="header" slot-scope="scope">
                    <div> 错误</div>
                    <el-dropdown placement="top-end" trigger="click" :hide-on-click="false">
                        <span class="el-dropdown-link">
                            <i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-checkbox-group v-model="misCheck" @change="mistakeFilter">
                                <el-dropdown-item v-for="item in mistakeSelect" :key="item">
                                    <el-checkbox :label="item"></el-checkbox>
                                </el-dropdown-item>
                            </el-checkbox-group>
                            <el-dropdown-item>
                                <el-button style="margin-left:12%;" @click="selectReset(4)">重置</el-button>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
                <template slot-scope="scope">
                    <div>
                        <div class="size" v-bind:style="{ height: scope.row.parameter.autoHeight}">{{scope.row.mistake}}
                        </div>
                        <div class="size" v-for="item in scope.row.expand" v-if="!scope.row.firstExpand"
                            v-bind:style="{ height: item.parameter.autoHeight}">{{item.mistake}}</div>
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="parameter" label="参数" label-class-name="title1" height="150">
                <template slot-scope="scope">
                    <div v-bind:style="{ height: scope.row.parameter.autoSize}" class="size"
                        v-bind:ref="`ID${scope.row.parameter.index}`">
                        <span class="refFile">{{ scope.row.parameter.refFile}}</span><span class="key">
                            {{scope.row.parameter.key}}</span>
                        <span class="num" v-if="scope.row.parameter.lessNum">({{scope.row.parameter.lessNum}})</span>
                        <span class="num" v-if="!scope.row.parameter.expand">{{scope.row.parameter.num}}
                            <i @click="handleEdit(scope.$index, scope.row)" v-if="scope.row.parameter.isShow"
                                :class="scope.row.parameter.class"><span class="num">)</span></i>
                        </span>
                        <span v-else class="num">({{ scope.row.parameter.totalNum}})
                            <i @click="handleEdit(scope.$index, scope.row)" v-if="scope.row.parameter.isShow"
                                :class="scope.row.parameter.class"></i></span>
                    </div>
                    <div v-for="(item,index) in scope.row.expand" v-if="!scope.row.firstExpand" class="size"
                        v-bind:style="{ height: item.parameter.autoSize}" :ref="`ID${item.parameter.index}`"><span
                            class="refFile">{{item.parameter.refFile}}</span><span
                            class="key">{{item.parameter.key}}</span>
                        <span class="num" v-if="item.parameter.lessNum">({{item.parameter.lessNum}})</span>
                        <span class="num" v-if="!item.parameter.expand"
                            @click="expandEdit(index,item)">{{item.parameter.num}}
                            <i v-if="item.parameter.isShow" :class="item.parameter.class"><span class="num">)</span></i>
                        </span>
                        <span v-else class="num">({{item.parameter.totalNum}})<i @click="expandEdit(index,item)"
                                v-if="scope.row.parameter.isShow" :class="item.parameter.class"></i></span>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination class="page" background layout="prev, pager, next, jumper" :total=pageLength
            @current-change="handleCurrentChange">
        </el-pagination>
        <label id="console" style="font-family: 'Microsoft JhengHei',serif"></label>
    </div>
    <script src="main.js"></script>
    <script>
        Main.instance = new Main();
    </script>
</body>

</html>